<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='process.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.powertip.min.js') }}"></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='jquery.powertip.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto|Archivo+Black" rel="stylesheet">
<script type="text/javascript">
    var baseUrl="{{ url_for('index', _external=True) }}";
</script>